:root {
    --azul: #a9d6e5;
    --verde: #D4E09B; 
    --melon: #fec5bb;
    --palo: #ffe5d9;
    --cafe: #c7917d;
    --naranja: #FEC89A;
    --amarillo: #fbf8cc;
    --gris: #484848;
    --gris2: #605a5a;
    --fondo: #F0EFF5;
}
  
body { 
    font-size: 14px; 
    margin: auto;   
    
}
h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 1em;  
}

h2 {
    font-size: 1.8em; 
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    /* font-family: Snell Roundhand, cursive; */
}
main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center; 
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto;
    font-size: 14px; 

}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
} 

#mainLeft {
    border-right: 1px solid lightgray;
}
 
.columns {
    display: flex;
}

/* .columns > div {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
}

.columns > div:first-child {
    margin-left: 0px;
} */

.imagen {
    width: 28vw;
    box-shadow: 6px 6px 10px #e0e0e0;
}

.italic{
    font-style: italic;
}

.marginImg {
    margin-bottom: 1em;
    margin-right: 2vw;
}

.link {
    color: black;
    text-decoration: none;
}
.titulo {
    color: var(--cafe);
    font-weight: bold;
    padding-bottom: 20px;
}

.cuadro {    
    border-radius: 10px;
    background-color: white;
    padding: 3vh 3vw;
    text-align: center;
    box-shadow: 5px 0 10px 5px #e0e0e0;
}
.cuadroHabili {
    border-radius: 10px;
    padding: 3vh 3vw;
    height: 12vh;
    text-align: center;
    box-shadow: 5px 0 10px 5px #e0e0e0;
    margin-right: 10px;
    border-width:10px;
    border-left-style: solid;
    border-left-color: var(--cafe);
    margin-bottom: 20px;
}

.cuadroRectangular {    
    border-radius: 10px;
    background-color: white;
    padding: 3vh 3vw;
    box-shadow: 5px 0 10px 5px #e0e0e0;
    border-width:10px;
    border-left-style: solid;
    border-left-color: var(--verde);
    margin-bottom: 20px;
}

.navbar {
    background-color: white !important;
}

.contenedor {
    padding: 4vw;
    font-size: 14px; 
}

.imagenCircular {   
    border-radius:150px;
    width:12vw; 
    height:25vh;
    margin-top: 10vh;
}
.imagenPerfil {
    margin-top: 0px; 
    width:10vw;  
    height:21vh;
    border-radius:150px;
}

.imgValores {
    width:14vw;
    height:23vh;
}
.inicio {
    color: white;
    text-align: center;
    height: 70vh;
    padding-top: 1.5vh;
    background-image: url("./images/Fondo.png");
    background-repeat: no-repeat, repeat;
    background-color: var(--verde);
    background-size: 100%; 
} 
.btn-redondo {
    border-radius: 20px !important;
    background-color: var(--verde) !important;
    border: none !important;
    font-weight: 500 !important;
}

.colorBorde {
 background-color: #c7917d;
}

.cuadroEstudios{
    width: 30% !important;
    margin-right: 3vh;
}
.cuadroPerfil {
    width: 40% ;
}
.acerca {
    width: 50%;
}

.cuadroPerfil{
    width: 30%;
}

/* Responsivo */

/* Diseño para celulares */ 

@media only screen and (max-width: 620px){
	body {
		font-size:80%; 
	} 
    .columns {
        display: block !important;
    }
    .imagen {
        width: 7vw;
        box-shadow: 6px 6px 10px #e0e0e0;
    }
    .cuadroEstudios {
        width: 100% !important;
    }
    .imgValores {
        width:45vw;
        height:20vh;
    }
    .cuadroPerfil {
        width: 100% !important;
        text-align: center !important;
    }
    .imagenPerfil {
        margin-top: 0px !important; 
        width:60vw !important;  
        height:30vh !important;
        margin-bottom: 4vh;
    }
    .inicio{
        background-size: 140%;
        height: 50vh;
    }
    .imagenCircular {   
        border-radius:150px;
        margin-top: 8vh;
        width:30vw; 
        height:14vh;
    }
    .acerca {
        width: 100%;
    }
    .cuadroPerfil{
        width: 100%;
    }
}


